<div class="col">
  <div class="card shadow-sm p-3">
    <img src="/img/tokyo.jpg" class="img-fluid rounded" alt="" />
    <div class="card-body">
      <p class="card-text mb-0">
        <strong>
          OSAKA / KYOTO / HAKONE / TOKYO + TWIN THEME PARK
        </strong>
      </p>
      <p class="card-text small">JDT-7</p>
      <p class="card-text mb-0 small">from</p>
      <p class="card-text">
        <strong> RM3899.00 </strong>
      </p>
      <hr />
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <p class="card-text mb-0">
            7 Days<i class="bi bi-calendar-fill ps-1 lightblue"></i> 6
            Nights<i class="bi bi-moon-fill ps-1 lightblue"></i>
          </p>
        </div>
        <div class="btn-group">
          <button class="btn btn-sm bg-lightblue text-light">
            More info<i class="bi bi-arrow-right align-end"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>